#!/bin/bash
export RESOURCEGROUP="${USER}-rg-wi"
export VNET="aro-vnet"
export RESOURCEGROUP_NETWORK="${USER}-${VNET}"
export RESOURCEGROUP_CLUSTER="${USER}-cluster"
export VNET_PREFIXES="10.0.0.0/22"
export WORKER_SUBNET="worker-subnet"
export MASTER_SUBNET="master-subnet"
export WORKER_SUBNET_PREFIXES="10.0.2.0/23"
export MASTER_SUBNET_PREFIXES="10.0.0.0/23"
export RESOURCEGROUP_COMPUTE="${USER}-worker-subnet"
export WI_SSH_KEY_PUBLIC="$(cat ${HOME}/.ssh/aro-wi.pub)" 
