#!/bin/bash
export RESOURCEGROUP="${USER}-rg"
export VNET="aro-vnet"
export RESOURCEGROUP_NETWORK="${USER}-${VNET}"
export VNET_PREFIXES="10.0.0.0/22"
export SUBNET="worker-subnet"
export SUBNET_PREFIXES="10.0.2.0/23"
export RESOURCEGROUP_COMPUTE="${USER}-worker-subnet"
export WI_SSH_KEY_PUBLIC="${HOME}/.ssh/aro-wi.pub" 
